@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

.btn {
  background: var(
    --Orange-Linear,
    linear-gradient(49deg, #ffa450 11.85%, #ff5c00 66.77%)
  );
}

.habit-summary {
  background-image: url('./assets/dashboard.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.linearOrange {
  background: var(
    --Orange-Linear,
    linear-gradient(49deg, #ffa450 11.85%, #ff5c00 66.77%)
  );
}

.select-month {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
  padding-right: 2.5em;
  padding-left: 2.5em;
}

.month-option {
  padding: 2rem !important;
}
